<p id="notice"><%= notice %></p>


<p>
  <strong>Product id:</strong>
  <%= @categorization.product_id %>
</p>
<p>
  <strong>Clothing color id:</strong>
  <%= @categorization.clothing_color_id %>
</p>
<p>
  <strong>Clothing size id:</strong>
  <%= @categorization.clothing_size_id %>
</p>
<p>
  <strong>Quantity:</strong>
  <%= @categorization.quantity %>
</p>



<%= link_to 'Edit', edit_categorization_path(@categorization) %> |
<%= link_to 'Back', categorizations_path %>
