<p id="notice"><%= notice %></p>


<p>
  <strong>Product id:</strong>
  <%= @categorization.product.title %>
</p>
<p>
  <strong>Clothing color id:</strong>
  <%= @categorization.clothing_color.shirt_color %>
</p>
<p>
  <strong>Clothing size id:</strong>
  <%= @categorization.clothing_size.shirt_size %>
</p>
<p>
  <strong>Shirt image front:</strong>
  <%= @categorization.shirt_image_front.image_title %>
</p>
<p>
  <strong>Shirt image back:</strong>
  <%= @categorization.shirt_image_back.image_title %>
</p>
<p>
  <strong>Quantity:</strong>
  <%= @categorization.quantity %>
</p>



<%= link_to 'Edit', edit_categorization_path(@categorization) %> |
<%= link_to 'Back', categorizations_path %>
