<h1>Listing clothing sizes</h1>

<table>
<% @clothing_sizes.each do |clothing_size| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    
    <td class="list_description">
      <dl>
        <dt><%= clothing_size.shirt_size %></dt>
      </dl>
    </td>
    <td class="list_actions">
      <%= link_to 'Show', clothing_size %><br/>
      <%= link_to 'Edit', edit_clothing_size_path(clothing_size) %><br/>
      <%= link_to 'Destroy', clothing_size, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New clothing size', new_clothing_size_path %>