<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>SHOP</h1>

<% cache ['store', Product.latest] do %>
  <% @products.each do |product| %>
    <% cache ['entry', product] do %>
      <div class="entry">

        <%= link_to image_tag(product.image_url), asset_path(product.image_url), class: "box" %>
        
        <h3><%= product.title %></h3>
        <h4><%= sanitize(product.description) %><h4>
        <div class="price_line">
          <span class="price"><%= number_to_currency(product.price) %></span>
          <%= form_for(LineItem.new) do |f| %>


            <%= f.collection_select :clothing_size_id, ClothingSize.joins(:categorizations).where(categorizations: {product: product}), :id, :sizes, {prompt: "Size"}  %>

            <%= f.hidden_field :product_id, value: product.id %>

            <%= f.submit 'Add to Cart' %>

          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>


